.About-container {
  width: 90%;
}

.About-headshot {
  width: 20rem;
  position: relative;
  top: 8rem;
}

.About-headshot img {
  position: relative;
  left: 40%;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.About-ParagraphCard {
  position: relative;
  top: 3rem;
  left: 5rem;
  width: 80%;
  height: auto;
}

.resume-download {
  background-color: rgb(252, 245, 245);
  border: solid 2px #e33517;
  color:  #e33517;
  font-weight: 900;
  font-size: 0.8rem;
  padding: 1rem;
  width: 15rem;
  position: relative;
  top: 2rem;
  text-decoration: none;
}

.resume-download:hover {
  text-decoration: none;
  color: #e33617b0;
}

@media screen and (min-width: 760px) {
  .About-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .About-headshot img {
    position: relative;
    left: 5rem;
    top: 2rem;
  }

  .About-ParagraphCard {
    position: relative;
    top: 3rem;
    width: 100%;
  }
}