nav.navbar.navbar-expand-md {
  background-color: black;
}

.NavBar-brand img {
  width: 4rem;
}

.nav-item {
  width: 100px;
  text-align: center;
}

.navbar-nav a {
  color: #f0f2f5;
  text-decoration: none;
}

.NavBar-nav a.active {
  color: #f0f2f5;
  font-weight: bold;
  border-bottom: 5px dotted !important;
  box-sizing: border-box;
}

.navbar-nav a.active:hover {
  color: #f0f2f5 !important;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: #f0f2f5;
}

.navbar-nav a.active.navbar-brand {
  border-bottom: none;
}

.navbar-nav a:not(.navbar-brand):hover {
  font-weight: bold;
}

