nav {
  background-color: black;
}

.navbar-brand img {
  width: 4rem;
}

.nav-item {
  width: 5rem;
  text-align: left;
  margin: 0.7rem;
  font-size: 0.6rem;
  font-weight: 800;
  letter-spacing: 3px;
}

nav a {
  color: #f0f2f5;
  text-decoration: none;
  padding: 0 0 5px 0;
}

nav a.active {
  color: #f0f2f5;
  font-weight: bold;
  border-bottom: 3px solid;
  box-sizing: border-box;
}

nav a.active:hover {
  color: #f0f2f5 !important;
}

nav a:hover {
  text-decoration: none;
  color: #c9cbce;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  font-weight: bold;
}


@media screen and (min-width: 900px) {
  .nav-item {
    text-align: center;
  }
}