.ParagraphCard {
  position: relative;
  top: 8rem;
  left: 4rem;
  width: 82%;
  display: inline-block;
  max-width: 700px;
}

.ParagraphCard-text {
  margin: 1.5rem auto;
  letter-spacing: 1px;
}

@media screen and (min-width: 760px) {
  .ParagraphCard {
    left: 7rem;
  }
}