.ParagraphCard {
  position: relative;
  top: 8rem;
  left: 4rem;
  width: 100%;
  display: inline-block;
}

.ParagraphCard-text {
  margin: 1.5rem auto;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 760px) {
  .ParagraphCard {
    width: 80%;
    left: 7rem;
  }
}