.ProjectCard {
  margin: 2rem 0 3rem 0;
  padding: 1rem 0 0 0;
  width: 90%;
}

.ProjectCard-container {
  display: block;
}

.ProjectCard-img {
  width: 17rem;
  height: auto;
  margin: 2rem 0rem
}

.ProjectCard-img img {
  width: 100%;
}

.ProjectCard-headline {
  font-family: 'Avenir', 'Montserrat', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin: 0 0 1rem 0;
  text-align: left;
}

.project-links {
  padding: 1rem 0;
}

@media screen and (min-width: 1200px) {
  .ProjectCard {
    padding: 0;
    margin: 4rem 0 6rem 0;
  }
  .ProjectCard-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3rem;
  }
  .ProjectCard-img {
    width: 40rem;
    margin: 0rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
  .ProjectCard-img {
    width: 25rem;
    margin: 3rem 0 5rem 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .ProjectCard-img {
    width: 30rem;
    margin: 3rem 0 5rem 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .ProjectCard-img {
    width: 40rem;
    margin: 3rem 0 5rem 0;
  }
}
